{$SITE_ADDRESS} {
    encode zstd gzip
    handle_path /static/* {
        root * /srv/static
        file_server
    }
    handle_path /media/* {
        root * /srv/media
        file_server
    }
    @django path /api/* /admin /admin/*
    handle @django {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
